<template>
  <div class="about">
    <version/>
    <token/>
  </div>
</template>

<script lang="ts">
import {defineComponent} from 'vue';
import Version from '@/components/Version.vue';
import Token from "@/components/Token.vue";

export default defineComponent({
  name: 'About',
  components: {
    Version,
    Token
  }
});
</script>