<template>
  <div class="token">
    <form>
      <label for="token">token:</label><br>
      <input type="text" id="token" v-model="token"><br>
      <input type="submit" value="Save" v-on:click="saveToken">
    </form>
  </div>
</template>

<script lang="ts">
import {defineComponent} from 'vue';
import {TokenPersistence} from "@/infrastructure/config/TokenPersistence";

export default defineComponent({
  name: 'Token',
  data() {
    function formatToken(token: string | undefined): string {
      return token ? token : "-";
    }

    return {
      token: formatToken(TokenPersistence.getToken())
    }
  },
  methods: {
    saveToken() {
      TokenPersistence.updateToken(this.token);
    },
  }
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
