<template>
  <div class="version">
    <p>vue.js - {{ vueVersion }}</p>
    <p>app - {{ appVersion }}</p>
  </div>
</template>

<script lang="ts">
import {defineComponent, version} from 'vue';
import { appVersion } from '@/version';

export default defineComponent({
  name: 'Version',
  setup() {
    return {
      vueVersion: version,
      appVersion: appVersion
    }
  }
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
