<template>
  <div class="weather">
    <div class=".header">
    <b>{{ locationCity }}</b>
    <button v-on:click="onClickRefreshLocation">Update</button>
    </div>

    <div v-for="df in dayForecasts" v-bind:key="df.day">
      <b>{{ df.day }}</b>
      <div v-for="f in df.forecasts" v-bind:key="f.hour">
        à {{ f.hour }} h, {{ f.weatherType }}, {{ f.temperature }}°C - pluie {{ f.probaRain }}%
      </div>
      <br/>
    </div>

    <p>location: {{ locationPoint }}</p>
    <p>location error: {{ locationError }}</p>
  </div>
</template>

<script lang="ts">
import {defineComponent} from 'vue';
import {GeoPosition} from '@/infrastructure/geolocation/GeoPosition.ts';
import {Location} from '@/domain/Location';
import {DayForecasts} from "@/domain/DayForecasts";

export default defineComponent({
  name: 'Weather',
  data() {
    return {
      locationPoint: 'unknown',
      locationCity: 'unknown',
      locationError: '-',
      dayForecasts: {}
    }
  },
  methods: {
    onClickRefreshLocation() {
      Location.refresh(this.refreshLocation, this.refreshLocationError, this.refreshWeather);
    },
    refreshLocation(geoPosition: GeoPosition) {
      this.locationPoint = geoPosition.latitude + " / " + geoPosition.longitude;
      this.locationCity = geoPosition.cityName ? geoPosition.cityName : 'undefined';
    },
    refreshLocationError(error: string) {
      this.locationError = error;
    },
    refreshWeather(dayForecasts: Array<DayForecasts>) {
      this.dayForecasts = dayForecasts;
    }
  }
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.header {
  clear:both;
  margin:20px 20px 20px 20px;
}
</style>
